* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

:root {
  --main-color: #ffff;
  --card-color: #f7f9fb;
  --card-status-color1: #e3f5ff;
  --card-status-color2: #e5ecf6;
  --dark-color: #343434;
}

/* Responsive */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .main-section {
    padding: 1rem;
    margin-top: 50px;
  }
  .navbar-brand {
    padding-left: 1rem;
  }
  .mobile-aside-button {
    padding-right: 1rem;
  }
  .status {
    /* max-width: 660px; */
    font-size: 12px;
    padding: 20px 20px;
    /* min-height: 130px;
    max-height: 220px; */
  }
  .step-name {
    font-size: 10px;
  }
  .second-title {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 14px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .main-section {
    padding: 2rem;
    margin-top: 50px;
  }
  .navbar-brand {
    padding-left: 1rem;
  }
  .mobile-aside-button {
    padding-right: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .main-section {
    padding: 2rem;
    margin-top: 50px;
  }
  .navbar-brand {
    padding-left: 2rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .main-section {
    padding: 3rem;
    margin-top: 50px;
  }
}

.popover {
  max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

/* .swiper-wrapper{
  transition-timing-function : linear;
} */

.apexcharts-menu .apexcharts-menu-item {
  font-size: 11px;
}

OverlayTrigger Badge {
  background: #000;
}
