.card .card-header {
  background: var(--card-color);
  justify-content: end;
}

.form-control {
  margin-right: 5px;
}
nav {
  justify-content: center;
}
.popover {
  padding: 0 15px;
  margin: 2px 20px;
}
.sr-only {
  display: none;
}

.d-sm-none {
  display: none;
}

.float-right.d-none.d-sm-flex {
  display: flex !important;
}

.oi.oi-eye {
  background-image: url(../assets/img/eye.svg);
  background-repeat: no-repeat;
  display: block;
  padding: 7px 8px;
}

@media only screen and (max-width: 600px) {
  .card-header .form-control {
    width: 75% !important;
  }
  .dx-g-bs4-table {
    font-size: 12px;
  }
  .form-control {
    font-size: 12px !important;
  }
  a.page-link {
    font-size: 12px;
  }
  .dx-g-bs4-column-chooser-item {
    font-size: 12px;
  }
}

@media only screen and (min-width: 600px) {
  .card-header .form-control {
    width: 50% !important;
  }
}

@media only screen and (min-width: 768px) {
  .card-header .form-control {
    width: 25% !important;
  }
}

button.dropdown-item.dx-g-bs4-column-chooser-item.dx-g-bs4-cursor-pointer:last-child {
  display: none;
}

.pagination .page-link {
  color: #6c757d;
}

.pagination .page-link:hover {
  color: #60b0df;
}

nav ul.pagination li.page-item.active a.page-link {
  background-color: #d8f1ff !important;
  border-color: #d8f1ff;
  color: #60b0df;
}
