span.belum {
  background-color: #eaecee !important;
  color: #949597;
}

span.sedang {
  background-color: #ededff !important;
  color: #8a8cd9;
}

span.selesai {
  background-color: #def8ee !important;
  color: #56ad8d;
}

span.selesaiKp {
  background-color: #d8f1ff !important;
  color: #60b0df;
}

span.pendaftaran {
  background-color: #ddedff !important;
  color: #8fa9c7;
}

span {
  font-weight: 500 !important;
  /* font-size: 10px !important; */
}

@media only screen and (max-width: 600px) {
  span.rounded-pill.bg-primary {
    font-size: 10px !important;
  }
}
